<!DOCTYPE html>
<html>
    <head>
        <title>DOP720</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <div class="container-blue">
            <h1 class="h1-blue">Reģistrēties</h1>
            <label for="username">Lietotājvārds</label>
            <input type="text" id="username" placeholder="Lietotājvārds" required>
            <label for="email">E-pasts</label>
            <input type="email" id="email" placeholder="E-pasts" required>
            <label for="password">Parole</label>
            <input type="password" id="password" placeholder="Parole" required>
            <button id="login-btn">Reģistrēties</button>
            <p>Ir konts?</p><a href="/login">Ienākt</a>
        </div>
    </body>
</html>