<!DOCTYPE html>
<html>
    <head>
        <title>DOP720</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
    </head>
    <body>

        <div class="container-center">
            <div class="container-blue" style="width: 320px;">
                <h2 class="h1-blue">Reģistrēties</h2>

                <form method="POST" action="{{ url_for('register') }}" >
                    <div>
                        <label for="username">Lietotājvārds</label>
                        <div class="input-wrapper">
                            <input type="text" id="username" name="username" placeholder="Lietotājvārds" required class="input-box">
                        </div>
                    </div>
                    <div>
                        <label for="email">E-pasts</label>
                        <div class="input-wrapper">
                            <input type="email" id="email" name="email" placeholder="E-pasts" required class="input-box">
                        </div>
                    </div>
                    <div>
                        <label for="password">Parole</label>
                        <div class="input-wrapper">
                            <input type="password" id="password" name="password" placeholder="Parole" required class="input-box">
                        </div>
                    </div>
                    <br>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-messages">
                        {% for msg in messages %}
                          {{ msg }}
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                    <br>
                    <div class = "container-center"><button type="submit" class="regular-btn">Reģistrēties</button></div>
           
                </form>
                

            </div>
        </div>
    </body>
</html>
