<!DOCTYPE html>
<html>
    <head>
        <title>DOP720</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
    </head>
    <body>
        {% include "header.html" %}
        <div class="container-center" style="padding: 20px;">
            {% if total_records > 0 %}
            <h2>Aktuālie Piedāvājumi</h2>
            <div class="container-center">
                <table>
                    <thead>
                        <tr>
                            <th>Statuss</th>
                            <th>Iepirkums</th>
                            <th>Pasūtītājs</th>
                            <th>Termiņš</th>
                            <th>Intereses varbūtība</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in procurements %}
                        {% if item.score > 0.5 %}
                        <tr class="suggested">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>{{ item.procurement.status }}</td>
                            <td><a href="{{ item.procurement.link }}">{{ item.procurement.text }}</a></td>
                            <td>{{ item.procurement.customer }}</td>
                            <td>{{ item.procurement.deadline }}</td>
                            <td>{{ item.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container-center" style="flex-direction: row; flex: 0 0 auto;">
                {% if page > 1 %}
                    <button id="previous-btn" class="blue-btn" style="padding: 12px 16px;" onclick="window.location.href='{{ url_for('suggestions', page=page-1) }}';">&lt;</button>
                {% else %}
                    <button id="previous-btn" class="gray-btn" style="padding: 12px 16px;">&lt;</button>
                {% endif %}
                <p>Lapa: {{ page }} no {{ total_pages }}</p>
                {% if page < total_pages %}
                    <button id="next-btn" class="blue-btn" style="padding: 12px 16px;" onclick="window.location.href='{{ url_for('suggestions', page=page+1) }}';">&gt;</button>
                {% else %}
                    <button id="next-btn" class="gray-btn" style="padding: 12px 16px;">&gt;</button>
                {% endif %}
            </div>
            {% else %}
                <h2>{{ error_text }}</h2>
            {% endif %}
        </div>
    </body>
</html>