<!DOCTYPE html>
<html>
    <head>
        <title>DOP720</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
    </head>
    <body>
        {% include "header.html" %}
        <div class="container-center" style="padding: 20px;">
            <div class="container-center" style="flex: 0 0 auto;">
                <h2>Modeļa apmācība</h2>
                <p style="margin: 0px;">Atzīmējiet interesējošos pasūtījumus un pēc katras lapas spiediet "Apmācīt".</p>
            </div>
            <div class="container-center">
                <table>
                    <thead>
                        <tr>
                            <th>Statuss</th>
                            <th>Iepirkums</th>
                            <th>Pasūtītājs</th>
                            <th>Termiņš</th>
                            <th>Interesē</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Izsludināts</td>
                            <td><a href="https://www.eis.gov.lv/EKEIS/Supplier/Procurement/147612">Publicitātes materiālu izstrādes un izvietošanas pakalpojumi medijos un citos informatīvajos kanālos Latgales plānošanas reģiona vajadzībām</a></td>
                            <td>Latgales plānošanas reģions (90002181025)</td>
                            <td>2025-05-30</td>
                            <td>
                                <input type="checkbox" class="checkbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-center" style="flex: 0 0 auto;">
                <button id="train-btn" class="regular-btn">Apmācīt</button>
                <div class="container-center" style="flex-direction: row;">
                    <button id="previous-btn" class="gray-btn" style="padding: 12px 16px;">&lt;</button>
                    <p>0-20 no 195</p>
                    <button id="next-btn" class="blue-btn" style="padding: 12px 16px;">&gt;</button>
                </div>
            </div>
        </div>
    </body>
</html>